.speech {
  position: relative;
  width: 300px;
  height: 80px;
  text-align: center;
  padding: 10px;
  /* line-height: 30px; */
  background-color: #fff;
  border: 8px solid #666;
  border-radius: 30px;
  box-shadow: 2px 2px 4px #888;
}

.speech:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: 30px;
  top: 70px;
  border: 25px solid;
  border-color: #666 #666 transparent transparent;
}

.speech:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: 38px;
  top: 60px;
  border: 15px solid;
  border-color: #fff #fff transparent transparent;
}