@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

:root 
{
  box-sizing: border-box;
  --text-color: red;
}

*, *::after, *::before 
{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  
  font-family: 'Playfair Display', sans-serif;
}
