.cart {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 2rem;
  cursor: pointer;
  color: var(--purple);
}

.cart a {
  color: var(--purple);
}

.heading {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: var(--purple);
  font-size: 2rem;
  border: 1px solid var(--purple);
  border-width: 8px 0 8px 0;
}